// 基础样式表

#app {
    height:100%;
}
body {
    font-size:14px;
}
.fl {
    float:left;
}
.fr {
    float:right;
}

/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}

body,
html {
  text-align: left;
  height: 100%;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

img {
  border: none;
  vertical-align: top
}

i,
em {
  font-style: normal;
}

input,
select,
option,
textarea {
  font-size: 12px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

// 清除浮动
.clearfix:after{ 
  display:block;
  clear:both;
  content:"";
  height:0
}

.clearfix{
  zoom:1
}

.page {
  float: right;
  padding-top:20px;
}
